[Desktop Entry]
Version=1.0
Name=Docker
Comment=Manage Docker containers with LazyDocker
Exec=ghostty -e lazydocker
Terminal=false
Type=Application
Icon=Docker
Categories=GTK;
StartupNotify=false

